.movies__text {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    max-width: 300px;
    align-self: center;
    justify-self: center;
}

.movies__list {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 37px;
    column-gap: 24px;
}

@media screen and (max-width: 768px) {
    .movies__list {
        margin-bottom: 76px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .movies__list {
        align-self: center;
        margin-bottom: 76px;
        grid-template-columns: 1fr;
    }
}