.movies {
    margin: 0;
    padding: 0;
    margin-right: 70px;
    margin-left: 70px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 768px) {
    .movies {
        max-width: 708px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 320px) {
    .movies {
        max-width: 292px;
        margin-left: 14px;
        margin-right: 14px;
    }
}

.movies__add-card {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background: #F4F4F4;
    border: none;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    transition: scale 0.5s ease;
    align-self: center;
}

.movies__add-card:hover {
    cursor: pointer;
    scale: 1.05;
}