.app {
    margin: 0 auto;
    max-width: 1280px;
    background: #FAFAFA;

}

.content {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 1200px;
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 728px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


@media screen and (max-width: 320px) {
    .content {
        max-width: 292px;
        margin-left: 14px;
        margin-right: 14px;
    }
}