.header__navigation {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header__navigation {
        max-width: 70px;
        margin: 0;
    }
}

.header__navigation-no-login {
    max-width: 175px;
}

.header__link-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;

}

@media screen and (max-width: 768px) {
    .header__link-container {
        display: none;
    }
}

.header__link-container-off {
    display: none;
}

.header__button-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 768px) {
    .header__button-container {
        display: none;
    }
}

.header__button-container-on {
    margin: 0;
    padding: 0;
    gap: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 768px) {
    .header__button-container-on {
        display: flex;
    }
}

@media screen and (max-width: 320px) {
    .header__button-container-on {
        margin-right: 0;

    }
}


.header__button {
    margin: 0;
    padding: 0;
    border: none;
    width: 77px;
    height: 32px;
    color: #000;
    transition: background 0.3s ease;
    align-items: center;
    background: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.header__button:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .header__button {
        width: 76px;

    }
}

@media screen and (max-width: 320px) {
    .header__button {
        width: 54px;
        height: 26px;
        text-align: center;
        font-size: 10px;
    }
}

.header__button:hover {
    border-radius: 3px;
    background: #3456F3;
    color: white;
    cursor: pointer;
}

.header__button-mobile {
    margin: 0;
    padding: 0;
    display: none;
    background-color: transparent;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url('../../images/menuIcon.svg');
    width: 40px;
    height: 43px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media screen and (max-width: 768px) {
    .header__button-mobile {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .header__button-mobile {
        display: flex;
    }
}

.header__button-mobile-off {
    display: none;
}



.header__link-punkt {
    margin: 0;
    padding: 0;
}

.header__link-punkt-of {
    display: none;
}

.header__link-punkt:last-child {
    margin-right: 0;
}

.header__link {
    max-width: 142px;
    text-decoration: none;
    color: #000;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.header__link_active {
    font-weight: 500;
    color: black;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-underline-offset: 4px;
}


.header__button-accaunt {
    margin: 0;
    padding: 0;
    border: none;
    width: 100px;
    height: 32px;
    color: #000;
    transition: background 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.header__button-accaunt:hover {
    border-radius: 3px;
    background: #3456F3;
    color: white;
    cursor: pointer;
}

.button__accaunt-text {
    margin: 0;
    padding: 0;
    max-width: 57px;
    margin-left: 1px;
    margin-right: 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.button__accaunt-img {
    margin: 0;
    padding: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    width: 11px;
    height: 14px;
    padding: 8px;
    border-radius: 4px;
    background: #F4F4F4
}