.project-title {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background: #F5F5F5;
}

.project-title__title {
    margin: 0;
    padding: 0;
    margin-top: 160px;
    margin-bottom: 151px;
    text-align: center;
    word-wrap: break-word;
    max-width: 730px;
    color: #000;
    font-size: 50px;
    font-family: Inter;
    line-height: 58px;
    letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
    .project-title__title {
        margin-top: 350px;
        margin-bottom: 314px;
        max-width: 680px;
        font-size: 40px;
        font-family: Inter;
        line-height: 52px;
        letter-spacing: -1.6px;
    }
}

@media screen and (max-width: 320px) {
    .project-title__title {
        margin-top: 220px;
        margin-bottom: 212px;
        max-width: 292px;
        font-size: 29px;
        font-family: Inter;
        line-height: 37px;
        letter-spacing: -1.16px;
    }
}

.project-title__navigation {
    max-width: 308px;
}

.project-title__navigation-list {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    max-width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .project-title__navigation-list {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 320px) {
    .project-title__navigation-list {
        margin-bottom: 22px;
        gap: 6px;
    }
}



.project-title__button {
    margin: 0;
    padding: 0;
    width: 96px;
    height: 36px;
    border-radius: 10px;
    background: #E8E8E8;
    color: #000;
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
    line-height: 16px;
}

@media screen and (max-width: 320px) {
    .project-title__button {
        width: 88px;
        height: 26px;
        font-size: 10px;
    }
}