.movies__form {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 98px;
    border-bottom: solid 1.5px rgba(170, 170, 170, 0.2);
}

.movies__input-conteiner {
    margin: 0;
    padding: 0;
    background: #FAFAFA;
    border-radius: 8px;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.movies__input {
    margin: 0;
    padding: 0;
    width: 89%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    background: #FAFAFA;
    color: #A0A0A0;
    font-size: 18px;
    line-height: 20px;
    border: none;
}

.movies__input:focus {
    outline: none;
    border-bottom: 1px solid #3456F3;
}

.movies__button {
    margin: 0;
    padding: 0;
    margin: 10px 10px 10px 0;
    width: 100px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 5px;
    background: #3456F3;
    transition: scale 0.5s ease;
    border: none;
}


.movies__button:hover {
    scale: 1.05;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .movies__button {
        width: 80px;
        height: 44px;
    }
}

.movies__button_disabled {
    cursor: default;
    background: #b5b6bb;
}

.movies__button_disabled:hover {
    cursor: default;
    scale: none;
}

.movies__checkbox-conteiner {
    margin-top: 26px;
    margin-bottom: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .movies__checkbox-conteiner {
        margin-bottom: 51px;
    }
}

@media screen and (max-width: 320px) {
    .movies__checkbox-conteiner {
        margin-top: 30px;
        margin-bottom: 63px;
    }
}


.movies__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.movies__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    text-align: center;
    color: #000;
    font-size: 13px;
    line-height: 18px;
}

.movies__checkbox+label:hover {
    cursor: pointer;
}

.movies__checkbox+label::before {
    content: '';
    background-image: url("../../images/smalltumboff.svg");
    display: inline-block;
    width: 36px;
    height: 20px;
    margin-right: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.movies__checkbox:checked+label::before {
    width: 36px;
    height: 20px;
    background-image: url("../../images/checkbox.svg");
}

.movies__form-error {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    height: 20px;
    max-width: 396px;
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: flex-start;
}

@media screen and (max-width: 320px) {
    .movies__form-error {
        max-width: 260px;
    }
}